[submodule "repos/AudibleInstruments"]
	path = repos/AudibleInstruments
	url = https://github.com/VCVRack/AudibleInstruments.git
[submodule "repos/Fundamental"]
	path = repos/Fundamental
	url = https://github.com/VCVRack/Fundamental.git
	branch = master
[submodule "repos/AS"]
	path = repos/AS
	url = https://github.com/AScustomWorks/AS
	branch = master
[submodule "repos/AmalgamatedHarmonics"]
	path = repos/AmalgamatedHarmonics
	url = https://github.com/jhoar/AmalgamatedHarmonics
	branch = master
[submodule "repos/Befaco"]
	path = repos/Befaco
	url = https://github.com/VCVRack/Befaco
	branch = master
[submodule "repos/Bogaudio"]
	path = repos/Bogaudio
	url = https://github.com/bogaudio/BogaudioModules
	branch = master
[submodule "repos/DHE-Modules"]
	path = repos/DHE-Modules
	url = https://github.com/dhemery/DHE-Modules
	branch = master
[submodule "repos/ESeries"]
	path = repos/ESeries
	url = https://github.com/VCVRack/ESeries
	branch = master
[submodule "repos/FrozenWasteland"]
	path = repos/FrozenWasteland
	url = https://github.com/almostEric/FrozenWasteland
	branch = master
[submodule "repos/Gratrix"]
	path = repos/Gratrix
	url = https://github.com/gratrix/vcv-gratrix
	branch = master
[submodule "repos/HetrickCV"]
	path = repos/HetrickCV
	url = https://github.com/mhetrick/hetrickcv
	branch = master
[submodule "repos/LindenbergResearch"]
	path = repos/LindenbergResearch
	url = https://github.com/lindenbergresearch/LRTRack
	branch = master
[submodule "repos/ML_modules"]
	path = repos/ML_modules
	url = https://github.com/martin-lueders/ML_modules
	branch = master
[submodule "repos/NauModular"]
	path = repos/NauModular
	url = https://github.com/naus3a/NauModular
	branch = master
[submodule "repos/Ohmer"]
	path = repos/Ohmer
	url = https://github.com/DomiKamu/Ohmer-Modules.git
	branch = 060dev
[submodule "repos/PvC"]
	path = repos/PvC
	url = https://github.com/phdsg/PvC.git
	branch = master
[submodule "repos/RJModules"]
	path = repos/RJModules
	url = https://github.com/Miserlou/RJModules
	branch = master
[submodule "repos/TheXOR"]
	path = repos/TheXOR
	url = https://github.com/The-XOR/VCV-Sequencers
	branch = master
[submodule "repos/dBiz"]
	path = repos/dBiz
	url = https://github.com/dBiz/dBiz
	branch = master
[submodule "repos/luckyxxl"]
	path = repos/luckyxxl
	url = https://github.com/luckyxxl/vcv_luckyxxl
	branch = master
[submodule "repos/mental"]
	path = repos/mental
	url = https://github.com/Strum/Strums_Mental_VCV_Modules
	branch = 06dev
[submodule "repos/moDllz"]
	path = repos/moDllz
	url = https://github.com/dllmusic/VCV_moDllz
	branch = master-0.6.0dev
[submodule "repos/mtsch-plugins"]
	path = repos/mtsch-plugins
	url = https://github.com/mtsch/mtsch-vcvrack-plugins
	branch = master
[submodule "repos/s-ol"]
	path = repos/s-ol
	url = https://github.com/s-ol/vcvmods
	branch = master
[submodule "repos/squinkylabs-plug1"]
	path = repos/squinkylabs-plug1
	url = https://github.com/squinkylabs/SquinkyVCV
	branch = master
[submodule "repos/ValleyFree"]
	path = repos/Valley
	url = https://github.com/ValleyAudio/ValleyRackFree.git
	branch = v0.6
[submodule "repos/CharredDesert"]
	path = repos/CharredDesert
	url = https://github.com/JerrySievert/CharredDesert
	branch = master
[submodule "repos/SynthKit"]
	path = repos/SynthKit
	url = https://github.com/JerrySievert/SynthKit
	branch = master
[submodule "repos/JW-Modules"]
	path = repos/JW-Modules
	url = https://github.com/jeremywen/JW-Modules
	branch = master
[submodule "repos/Alikins"]
	path = repos/Alikins
	url = https://github.com/alikins/Alikins-rack-plugins
	branch = master
[submodule "repos/DrumKit"]
	path = repos/DrumKit
	url = https://github.com/JerrySievert/DrumKit
	branch = master
[submodule "repos/SonusModular"]
	path = repos/SonusModular
	url = https://gitlab.com/sonusdept/sonusmodular
	branch = master
[submodule "repos/Bidoo"]
	path = repos/Bidoo
	url = https://github.com/sebastien-bouffier/Bidoo
	branch = master
[submodule "repos/trowaSoft"]
	path = repos/trowaSoft
	url = https://github.com/j4s0n-c/trowaSoft-VCV
	branch = master
[submodule "repos/ArableInstruments"]
	path = repos/ArableInstruments
	url = https://github.com/adbrant/ArableInstruments
	branch = master
[submodule "repos/LOGinstruments"]
	path = repos/LOGinstruments
	url = https://github.com/leopard86/LOGinstruments
	branch = master
[submodule "repos/BaconMusic"]
	path = repos/BaconMusic
	url = https://github.com/baconpaul/BaconPlugs.git
	branch = master
[submodule "repos/com-soundchasing-stochasm"]
	path = repos/com-soundchasing-stochasm
	url = https://github.com/teletypist/stochasm
	branch = master
[submodule "repos/MrLumps"]
	path = repos/MrLumps
	url = https://github.com/djpeterso23662/MrLumps
	branch = master
[submodule "repos/Southpole"]
	path = repos/Southpole
	url = https://github.com/gbrandt1/southpole-vcvrack.git
	branch = 0.6
[submodule "repos/Southpole-parasites"]
	path = repos/Southpole-parasites
	url = https://github.com/gbrandt1/southpole-vcvrack.git
	branch = 0.6-parasites
[submodule "repos/cf"]
	path = repos/cf
	url = https://github.com/cfoulc/cf
	branch = master
[submodule "repos/ImpromptuModular"]
	path = repos/ImpromptuModular
	url = https://github.com/MarcBoule/ImpromptuModular.git
	branch = master
[submodule "repos/RODENTMODULES"]
	path = repos/RODENTMODULES
	url = https://github.com/RODENTCAT/RODENTMODULES
	branch = master
