*.d
*.o
*.zip
*.ignore
build/*.*
dist/*
dist/*.*
*.dll
.vs/*.*
*.opendb
*.ipch
*.vcv
CppProperties.json
settings.json
*.config
notes/*
.vs/trowaSoft/v15/.suo
*.db
*.txt
.DS_Store
trowaSoft.json
voltSeq_Maschine.pd
*.old