[submodule "eurorack"]
	path = eurorack
	url = https://github.com/AndrewBelt/eurorack.git
[submodule "avrlib"]
	path = parasites/avrlib
	url = https://github.com/pichenettes/avril.git
[submodule "avrlibx"]
	path = parasites/avrlibx
	url = https://github.com/pichenettes/avrilx.git
[submodule "stm_audio_bootloader"]
	path = parasites/stm_audio_bootloader
	url = https://github.com/pichenettes/stm-audio-bootloader.git
[submodule "avr_audio_bootloader"]
	path = parasites/avr_audio_bootloader
	url = https://github.com/pichenettes/avr-audio-bootloader.git
[submodule "stmlib"]
	path = parasites/stmlib
  url = https://github.com/mqtthiqs/stmlib.git
